<!--
  Generated template for the CommunityDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CommunityDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="drawer-container bg-gray-2">
    <!-- <trellis-drawer trellis-id="communityDetailActions" force-narrow="true" side="right" drawer-class="bg-gray-9">
      <div ng-include="'app/communities/communities-detail-actions.template.html'"></div>
    </trellis-drawer>

    <trellis-drawer trellis-id="communityDetailsDetails" drawer-class="bg-white">
      <div ng-include="'app/communities/communities-detail-details.template.html'"></div>
    </trellis-drawer> -->

    <div class="inner-content inset-content-panel bg-white">
      GENERIC COMMUNITY DETAIL PAGE
      <!-- <div ng-if="view.promo &amp;&amp; view.visible.featured" class="section-panel">
        <div class="panelheader-raspberry">
          <svg class="icon-2"style="transform: rotate(-34deg)">
            <use xlink:href="#svg-icon-fontawesome-webfont-21" filter="url(#drop-shadow)"></use>
          </svg>
          <span>FEATURED CONTENT</span>
        </div>
        <conversation-summary document="view.promo"></conversation-summary>
      </div> -->
      <!-- <div class="content-panel margin-bottom-double" ng-if="view.visible.about" ng-include="'app/communities/communities-detail-about.template.html'"></div>
      <div class="content-panel margin-bottom-double" ng-if="view.visible.announcements" ng-include="'app/communities/communities-detail-announcements.template.html'"></div>
      <div class="content-panel  margin-bottom-double" ng-if="view.visible.members" ng-include="'app/communities/communities-detail-memberlist.template.html'"></div>
      <div class="content-panel  margin-bottom-double" ng-if="view.visible.conversations" ng-include="'app/communities/communities-detail-conversationlist.template.html'"></div> -->
    </div>
  </div>
</ion-content>
