<div class="content-panel">
  <div class="content-panel">
    <div class="flex wrap bg-gray-9">
      <div class="flex nostretch child-horizontal-margin pin-right">
        <div class="trellis-button" (tap)="closeEditor()">
          <span>CLOSE</span>
        </div>
        <div class="trellis-button" (tap)="publishReply()">
          <span>PUBLISH</span>
        </div>
      </div>
    </div>
  </div>
  <div class="content-panel bg-white">
    <div id="editor-container"></div>
  </div>
</div>
