* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
// em,
img,
ins,
kbd,
q,
s,
samp,
small,
// strike,
// strong,
// sub,
// sup,
tt,
var,
// b,
// u,
// i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
svg {
  fill: currentColor;
}
input[type=button] {
  cursor: pointer;
  padding: 0;
  border: 0 outset buttonface;
}
input {
  border-radius: 0.1875em;
  margin: 0;
  padding: 0.3125em;
  width: 100%;
  line-height: 1.2;
  font-size: 1em;
  font: inherit;
  border-image-source: none;
  // border-image-slice: none;
  // border-image-width: none;
  // border-image-outset: none;
  // border-image-repeat: none;
  border: 0;
}

input[type="radio"] {
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: pointer;
}

[ui-sref],
[ng-click] {
  cursor: pointer;
}
//@media screen and (-webkit-min-device-pixel-ratio:2) {
//  select,
//  textarea,
//  input,
//  .ql-editor {
//    font-size: 16px;
//  }
//}
