$blue-1: #29abe2;
$blue-2: #1d9ed5;
$raspberry: #861a51;
$tangerine: #e49429;
$lime: #83b740;
$teal: #34aeae;
$gold: #ffa600;
$white: #fff;
$green: #73b840;

$gray-1: #f7f7f7;
$gray-2: #f2f2f2;
$gray-3: #d5d5d5;
$gray-4: #999;
$gray-5: #838383;
$gray-6: #666;
$gray-7: #4d4d4d;
$gray-7-warm: #3f3e3e;
$gray-8: #333;
$gray-9: #2e2e2e;
$gray-10: #161616;

$black-real: #000;
$backdrop-color: $black-real;

$drop-shadow-alpha: rgba(0, 0, 0, 0.30);

$narrow-breakpoint: 768px;

$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;
$z-index-7: 70;
$z-index-8: 80;
$z-index-9: 90;
$z-index-10: 100;

$z-index-tooltip: $z-index-10;
$z-index-menu: $z-index-10 - 1;
$z-index-select: $z-index-10 - 1;
$z-index-modal: $z-index-8;
$z-index-toast: $z-index-9;
$z-index-bottom-sheet: $z-index-7;
$z-index-drawer: $z-index-6;
$z-index-backdrop: $z-index-5;


$font-family-base:  'Roboto', Helvetica, Arial, sans-serif;
$font-regular: 400;
$font-italic: italic;
$font-medium: 500;
$font-medium-italic: italic;
$font-light-italic: italic;
$font-light: 300;
$font-bold: 700;
$font-size-base: 1em;
$font-size-small: 0.90em;
$font-size-xs: 0.85em;
$font-size-large: 1.125em;
$icon-font: 'custom_icon_font', sans-serif;
$icon-font-kstf:'icon-font-2', sans-serif;
$icon-font-entypo:'entypo', sans-serif;

$image-size-1: 0.75em;
$image-size-2: 1em;
$image-size-3: 1.3em;
$image-size-4: 1.5625em;
$image-size-5: 1.875em;
$image-size-6: 2.5em;
$image-size-7: 3.125em;
$image-sizes: $image-size-1 $image-size-2 $image-size-3 $image-size-4 $image-size-5 $image-size-6 $image-size-7;

$primary-text: $gray-6;
$light-text: $white;
